:root {
  --xlarge-font: 3em;
  --large-font: 2.8em;
  --normal-font: 1.8em;
}

:root {
  --character: 130px;
}

:root {
  --banner-height: 700px;
  --banner-width: 250px;
  --content-margin: 3rem;
  --header-img-height: 75px;
  --header-height: calc(var(--header-img-height) + 10px);
  --content-height: calc(
    100vh - (var(--header-height) + var(--content-margin))
  );
  --house-content-height: calc(100vh - var(--header-height));
  --house-banner-height: calc(var(--house-content-height) - 1rem);
  --house-title-height: 165px;
  --house-lord-loading-height: calc(
    var(--house-banner-height) - var(--house-title-height)
  );
}

:root {
  --color1: rgb(205, 205, 205);
  --color2: blue;
  --color3: rgba(10, 10, 10, 0.9);
}

:root {
  --stark-theme: url("../images/background/stark.png");
  --stark-banner: url("../images/banners/stark.png");
  --stark-background: rgb(50, 50, 50);
  --stark-text: rgb(190, 190, 190);

  --targaryen-theme: url("../images/background/targaryen.png");
  --targaryen-banner: url("../images/banners/targaryen.png");
  --targaryen-background: rgb(5, 5, 5);
  --targaryen-text: rgb(190, 5, 10);

  --lannister-theme: url("../images/background/lannister.png");
  --lannister-banner: url("../images/banners/lannister.png");
  --lannister-background: rgb(180, 35, 30);
  --lannister-text: rgb(230, 220, 150);

  --baratheon-theme: url("../images/background/baratheon.png");
  --baratheon-banner: url("../images/banners/baratheon.png");
  --baratheon-background: rgb(40, 30, 15);
  --baratheon-text: rgb(235, 215, 130);

  --greyjoy-theme: url("../images/background/greyjoy.png");
  --greyjoy-banner: url("../images/banners/greyjoy.png");
  --greyjoy-background: rgb(20, 20, 25);
  --greyjoy-text: rgb(215, 210, 180);
}

body {
  min-height: 100vh;
  background-color: darkgrey;
  background-image: url("../images/home.jpg");
  background-size: 400% 400%;
  background-position: center bottom;
  backdrop-filter: blur(10px);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  animation: wallpaper 100s linear infinite;
}

@keyframes wallpaper {
  0%,
  100% {
    background-position: 10% 10%;
  }
  25% {
    background-position: 0% 80%;
  }
  50% {
    background-position: 90% 70%;
  }
  75% {
    background-position: 100% 30%;
  }
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: normal;
}

h1 {
  font-family: "Game of Thrones";
  font-size: var(--xlarge-font);
}

h2 {
  font-size: var(--large-font);
  font-family: "AvQest";
}

h3 {
  font-family: "AvQest";
  font-size: var(--normal-font);
}

i {
  font-size: 7em;
}

i {
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* HEADER */
header {
  /* position: absolute; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
  background-color: rgba(255, 255, 255, 0.25);
}

header img {
  height: var(--header-img-height);
}

.house_title {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
}

.house_title h1 {
  margin: 1.5rem 0;
}

.content {
  margin: 20px 10% 0px;
  padding-bottom: 10px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 990;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: default;
}

/* BANNERS */
.banners_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: var(--banner-height);
}

.banner_container {
  position: relative;
  height: 100%;
  width: var(--banner-width);
  border: 1px solid black;
  border-radius: 50px;
  align-self: center;
}

.banner {
  height: var(--banner-height);
  width: var(--banner-width);
  object-fit: none;
  border-radius: 50px;
  backdrop-filter: blur(10px);
}

.banner_blur {
  height: 100%;
  border-radius: 50px;
  background-size: 100% 900%;
}

.banner_overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  overflow: hidden;
  width: 0;
  height: var(--banner-height);
  transition: 0.5s ease;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.banner_overlay_text {
  height: 100%;
}

.banner_overlay_text h1 {
  display: flex;
  justify-content: center;
  height: 100%;
  writing-mode: vertical-lr;
  text-orientation: upright;
  margin: auto;
  background-color: rgba(10, 10, 10, 0.75);
  padding: 20px;
}

.banner_text {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.banner_container:hover {
  cursor: pointer;
}

.banner_container:hover .banner_overlay {
  animation: display_overlay 1s ease forwards;
}

@keyframes display_overlay {
  0% {
    width: 10%;
    left: 90%;
    opacity: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  40% {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  100% {
    width: 100%;
    left: 0;
    opacity: 0.95;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
  }
}

/* HOUSE */
.house_container {
  display: flex;
  flex-direction: row-reverse;
  color: var(--color1);
}

.banner_image {
  position: absolute;
}

.house_info {
  background-color: var(--color3);
  border-radius: 50px;
  width: calc(100vw - 20rem);
}

.region {
  padding-top: 0.5rem;
  text-align: center;
}

.house_lords {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 1.5rem 0;
}

.house_lords_loading {
  height: var(--house-lord-loading-height);
}

.character {
  height: var(--character);
  object-fit: scale-down;
}

.lord {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
}

.members_container {
  width: 60%;
  margin: auto;
}

.members_wrapper {
  min-height: 400px;
}

.members {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(auto-fill, minmax(var(--character), 1fr));
  row-gap: 1em;
  column-gap: 1em;
}

.members_loading {
  height: 400px;
}

.member {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.member:last-child {
  margin: 0;
}

.member,
.lord {
  border: 1px solid grey;
  padding-top: 5px;
  padding-bottom: 5px;
}

.member:hover,
.lord:hover {
  cursor: pointer;
  background: rgb(100, 100, 100);
}

.member_pages {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  padding-bottom: 10px;
}

.member_pages ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.member_pages li {
  padding: 3px 10px;
  border-radius: 10px;
  margin: 0 0.4rem;
  background-color: var(--color1);
  color: blue;
}

.member_pages li:hover {
  cursor: pointer;
}

.member_pages .active {
  color: purple;
}

/* POPUP */
.popup {
  width: 800px;
  max-height: 900px;
  z-index: 9595;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup_loaded {
  border: solid 1px var(--color1);
  background-color: rgb(20, 20, 20);
  overflow: auto;
}

.popup_title {
  margin-bottom: 1rem;
  text-align: center;
  background: var(--color2);
}

.popup_title .title_close {
  display: none;
}

.popup_content {
  display: grid;
  row-gap: 1em;
  width: calc(100% - 4rem);
  margin: auto;
  padding-bottom: 1rem;
}

.popup_content > section:not(.popup_info) {
  border: solid 1px var(--color1);
  border-radius: 10px;
}

.popup_subtitle {
  background: var(--color2);
  text-align: center;
  margin-bottom: 0.25rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.popup_container {
  padding: 0.5rem;
  padding-top: 0;
}

.popup_image {
  text-align: center;
  margin: 0 1rem;
}

.popup_image img {
  height: 400px;
  max-width: 500px;
}

.popup_culture {
  text-align: center;
  margin-bottom: 10px;
}

.popup_life {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.popup_actor {
  text-align: center;
  margin-bottom: 0.5rem;
}

.popup_container ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

/* LOADING */
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 9595;
}

.loading {
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
}

.loading_sector {
  position: absolute;
  width: 75%;
  height: 2px;
  animation: bounce 3s linear infinite;
}

.loading_text {
  animation: loading-opacity 3s ease-in-out infinite;
  font-size: 2em;
}

@keyframes bounce {
  0%,
  100% {
    width: 50%;
    transform: translateX(75%);
  }
  25%,
  75% {
    width: 100%;
    transform: translateX(0%);
  }
  50% {
    width: 50%;
    transform: translateX(-75%);
  }
}

@keyframes loading-opacity {
  0%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0.25;
  }
  50% {
    opacity: 1;
  }
}

/* THEMES */
.theme {
  background-repeat: no-repeat;
  background-position: left;
}

.theme .content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 820px;
  margin: auto;
  padding: 0;
}

.theme .logo:hover {
  cursor: pointer;
}

.stark {
  background-image: var(--stark-theme);
  background-color: var(--stark-background);
  color: var(--stark-text);
}

.targaryen {
  background-image: var(--targaryen-theme);
  background-color: var(--targaryen-background);
  color: var(--targaryen-text);
}

.lannister {
  background-image: var(--lannister-theme);
  background-color: var(--lannister-background);
  color: var(--lannister-text);
}

.baratheon {
  background-image: var(--baratheon-theme);
  background-color: var(--baratheon-background);
  color: var(--baratheon-text);
}

.greyjoy {
  background-image: var(--greyjoy-theme);
  background-color: var(--greyjoy-background);
  color: var(--greyjoy-text);
}

.stark header img {
  color: var(--stark-text);
}

.theme .banner {
  background-position: center;
  background-repeat: no-repeat;
}

.theme .house_container .banner {
  height: 795px;
}

.stark .banner,
.stark .banner_blur {
  background-image: var(--stark-banner);
}

.targaryen .banner,
.targaryen .banner_blur {
  background-image: var(--targaryen-banner);
}

.lannister .banner,
.lannister .banner_blur {
  background-image: var(--lannister-banner);
}

.baratheon .banner,
.baratheon .banner_blur {
  background-image: var(--baratheon-banner);
}

.greyjoy .banner,
.greyjoy .banner_blur {
  background-image: var(--greyjoy-banner);
}

.stark .banner_overlay {
  background-position: 90%;
}

.targaryen .banner_overlay {
  background-position: 20%;
}

.lannister .banner_overlay {
  background-position: left;
}

.baratheon .banner_overlay {
  background-position: left;
}

.greyjoy .banner_overlay {
  background-position: center;
}

.stark .house_title {
  color: var(--stark-text);
}

.targaryen .house_title {
  color: var(--targaryen-text);
}

.lannister .house_title {
  color: var(--lannister-text);
}

.baratheon .house_title {
  color: var(--baratheon-text);
}

.greyjoy .house_title {
  color: var(--greyjoy-text);
}

.stark .popup_title,
.stark .popup_subtitle {
  color: var(--stark-background);
  background: var(--stark-text);
}

.targaryen .popup_title,
.targaryen .popup_subtitle {
  color: var(--targaryen-background);
  background: var(--targaryen-text);
}

.lannister .popup_title,
.lannister .popup_subtitle {
  color: var(--lannister-background);
  background: var(--lannister-text);
}

.baratheon .popup_title,
.baratheon .popup_subtitle {
  color: var(--baratheon-background);
  background: var(--baratheon-text);
}

.greyjoy .popup_title,
.greyjoy .popup_subtitle {
  color: var(--greyjoy-background);
  background: var(--greyjoy-text);
}

.stark .loading_sector {
  background: radial-gradient(
    circle,
    var(--stark-text) 0%,
    rgba(0, 0, 0, 0) 90%
  );
}

.targaryen .loading_sector {
  background: radial-gradient(
    circle,
    var(--targaryen-text) 0%,
    rgba(0, 0, 0, 0) 90%
  );
}

.lannister .loading_sector {
  background: radial-gradient(
    circle,
    var(--lannister-text) 0%,
    rgba(0, 0, 0, 0) 90%
  );
}

.baratheon .loading_sector {
  background: radial-gradient(
    circle,
    var(--baratheon-text) 0%,
    rgba(0, 0, 0, 0) 90%
  );
}

.greyjoy .loading_sector {
  background: radial-gradient(
    circle,
    var(--greyjoy-text) 0%,
    rgba(0, 0, 0, 0) 90%
  );
}

/* MEDIA QUERIES */
@media (max-width: 1680px) {
  :root {
    --banner-width: 200px;
  }
}

@media (max-width: 1520px) {
  :root {
    --xlarge-font: 2.5em;
  }

  :root {
    --banner-height: 100px;
    --banner-width: 700px;
    --content-margin: 1rem;
  }

  :root {
    --character: 110px;
  }

  .content {
    margin: auto;
    padding-bottom: 0;
    width: calc(100vw - 10rem);
    height: calc(100vh - (90px + var(--content-margin)));
  }

  .banners_wrapper {
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .banner_container {
    height: var(--banner-height);
  }

  .banner_overlay_text h1 {
    writing-mode: initial;
    background-color: rgba(10, 10, 10, 0.3);
    padding: 0;
    align-items: center;
    letter-spacing: 2.5pt;
  }

  /* HOUSE */
  .house_container .banner_image {
    display: none;
  }

  .house_info {
    width: calc(100vw - 5rem);
  }

  .members_container {
    width: 85%;
  }

  /* THEMES */
  .theme .banner {
    background-size: 50% 900%;
  }

  .stark .banner_blur,
  .stark .banner {
    background-position: center 40%;
  }

  .targaryen .banner_blur,
  .targaryen .banner {
    background-position: center 50%;
  }

  .lannister .banner_blur,
  .lannister .banner {
    background-position: center 40%;
  }

  .baratheon .banner_blur,
  .baratheon .banner {
    background-position: center 45%;
  }

  .greyjoy .banner_blur,
  .greyjoy .banner {
    background-position: center 50%;
  }

  .stark .banner_overlay {
    background-position: 140% 30%;
  }

  .targaryen .banner_overlay {
    background-position: 0% 10%;
  }

  .lannister .banner_overlay {
    background-position: 150% 10%;
  }

  .baratheon .banner_overlay {
    background-position: 0% 20%;
  }

  .greyjoy .banner_overlay {
    background-position: center;
  }

  .stark .banner_overlay_text h1 {
    background-color: rgba(10, 10, 10, 0.7);
  }

  .targaryen .banner_overlay_text h1 {
    background-color: rgba(10, 10, 10, 0.7);
  }
}

@media (max-width: 1024px) {
  :root {
    --banner-width: calc(100vw - 5rem);
    --header-img-height: 50px;
  }

  .banner_blur {
    display: none;
  }

  .banner_overlay {
    left: 0;
    width: 100%;
    border-radius: 50px;
  }

  .banner_container:hover .banner_overlay {
    animation: initial;
  }

  .character_container:hover {
    background-color: initial;
  }

  .popup {
    width: 100%;
    height: 100%;
    max-height: initial;
    top: 0;
    left: 0;
    transform: initial;
  }

  .overlay {
    display: none;
  }

  .popup_title .title_close {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
  }

  .popup_title .title_close:hover {
    cursor: pointer;
  }

  .popup_title .title_close .close-button {
    height: 35px;
    width: 35px;
  }
}

@media (max-width: 850px) {
  :root {
    --large-font: 2.3em;
    --normal-font: 1.3em;
  }

  :root {
    --character: 90px;
  }

  .stark .banner_overlay {
    background-position: 100% 30%;
  }

  .popup_title .title_close {
    margin: 5px;
  }
}

@media (max-width: 600px) {
  :root {
    --banner-height: 70px;
  }

  :root {
    --xlarge-font: 2em;
    --large-font: 1.8em;
  }

  :root {
    --color3: rgba(10, 10, 10, 0.75);
  }

  .content {
    width: initial;
  }

  .house_container {
    width: 100%;
    height: 100%;
  }

  .house_info {
    width: 100%;
    border-radius: 0px;
  }

  .members_loading {
    height: 465px;
  }

  .members_wrapper {
    min-height: 465px;
  }

  .member_pages ul {
    flex-wrap: wrap;
  }

  .member_pages li {
    margin: 0.4rem;
  }

  .popup_image img {
    height: 300px;
    max-width: 350px;
  }

  .popup_title .title_close .close-button {
    height: 25px;
    width: 25px;
  }

  .theme {
    background-position: center;
  }

  .theme .content {
    height: 100%;
  }

  .theme .banner_overlay {
    background-size: cover;
  }

  .stark .banner_overlay {
    background-position: 0% 10%;
  }

  .lannister .banner_overlay {
    background-position: 0% 10%;
  }

  .baratheon .banner_overlay {
    background-position: 0% 10%;
  }

  .baratheon .banner_overlay {
    background-position: 0% 20%;
  }

  .lannister .banner_overlay_text h1 {
    background-color: rgba(10, 10, 10, 0.6);
  }

  .baratheon .banner_overlay_text h1 {
    background-color: rgba(10, 10, 10, 0.2);
  }

  .baratheon .house_info {
    background-color: rgba(10, 10, 10, 0.5);
  }

  .greyjoy .house_info {
    background-color: rgba(10, 10, 10, 0.35);
  }
}

@media (max-width: 400px) {
  :root {
    --banner-height: 50px;
    --header-img-height: 30px;
  }

  :root {
    --xlarge-font: 1.25em;
  }

  .popup_title .title_name {
    width: 75%;
    margin: auto;
  }

  .popup_image img {
    height: 250px;
    max-width: 100%;
  }
}
